@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

$duration: 1.4s;
$delay: 0.1s;

@mixin animation($position) {
  animation: lighten $duration ($delay * $position) alternate infinite;
}

:scope {
  margin: 5vw 0;
  padding: 1vw;
  display: flex;
  justify-content: center;
  font-size: 10vw;
  color: colors.$dark;
}

@for $i from 1 to 14 {
  [xml="character"]:nth-child(#{$i}) {
    @include animation($i);
  }
}

@keyframes lighten {
  0% {
    text-shadow: 0px 0px 0px rgba(0, 64, 0, 0.67);
    color: colors.$dark;
  }

  100% {
    text-shadow: 1px 1px 2px rgba(0, 64, 0, 0.67);
    color: colors.$dark-lighter;
  }
}

@media (min-width: widths.$lg) {
  :scope {
    margin: 2vw 0;
    padding: 0.2vw;
    font-size: 3vw;
  }
}
