@import url('./picture-area.css');
@import url('./brand.css');


#header {
  padding: 5vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  #header {
    padding: 5vw;
    flex-direction: row !important;
  }

  #header > .picture-area {
    width: 60%;
  }

  #header > .brand {
    width: 40%;
  }
}