:root {
  --offset-dark: 4px;
  --offset-light: -4px;
  --blur: 8px;
  --color-light: rgba(255, 255, 255, 0.4);
  --color-dark: rgba(0, 0, 0, 0.15);
  --circle-border-color: #e0f0e0;
  --contact-displacement-positive: 5vw;
  --contact-displacement-negative: -5vw;
  --max-padding: 5.625vw;
  --mid-padding: 5vw;
  --min-padding: 4.375vw;
}

#header .picture-area {
  display: flex;
  flex-direction: column;
}

#header .circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .circles * {
  border-radius: 50%;
}

#header .circles .level {
  padding: var(--min-padding);
  border: 1px solid var(--circle-border-color);
  box-shadow: var(--offset-light) var(--offset-light) var(--blur) 0px rgb(255, 255, 255, 0.4),
  var(--offset-dark) var(--offset-dark) var(--blur) 0px rgba(0, 0, 0, 0.15);
  animation: change-depth 3s infinite alternate ease-in-out;
}

#portfolio-pic {
  object-fit: contain;
  width: 100%;
  background-color: #e0f0e0;
}

#header .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .contacts .icon-wrapper {
  padding: 1vw 4vw;
  width: 20vw;
  background-color: var(--secondary-color);
}

#header .primary-contacts .icon-wrapper:nth-child(2), #header .primary-contacts .icon-wrapper:nth-child(3) {
  margin-top: var(--contact-displacement-negative);
}

#header .primary-contacts .icon-wrapper:first-child, #header .primary-contacts .icon-wrapper:last-child {
  margin-top: var(--contact-displacement-positive);
}

#header .secondary-contacts .icon-wrapper:nth-child(2), #header .secondary-contacts .icon-wrapper:nth-child(3) {
  margin-top: var(--contact-displacement-positive);
}

#header .secondary-contacts .icon-wrapper:first-child, #header .secondary-contacts .icon-wrapper:last-child {
  margin-top: var(--contact-displacement-negative);
}

#header .contacts .square {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .contacts .link {
  padding: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .contacts .icon {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@keyframes change-depth {
  0% {
    padding: var(--min-padding);
    border: 1px solid var(--circle-border-color);
    box-shadow: var(--offset-light) var(--offset-light) 4px 0px rgb(255, 255, 255, 0.4),
    var(--offset-dark) var(--offset-dark) var(--blur) 0px rgba(0, 0, 0, 0.15);
  }
  
  49% {
    padding: var(--mid-padding);
    border: 1px solid var(--circle-border-color);
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255, 0.4),
    0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  }
  
  51% {
    padding:  var(--mid-padding);
    border: 1px solid var(--circle-border-color);
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255, 0.4) inset,
    0px 0px 0px 0px rgba(0, 0, 0, 0.15) inset;
  }
  
  100% {
    padding:  var(--max-padding);
    border: 1px solid var(--circle-border-color);
    box-shadow: var(--offset-light) var(--offset-light) var(--blur) 0px rgb(255, 255, 255, 0.4) inset,
    var(--offset-dark) var(--offset-dark) var(--blur) 0px rgba(0, 0, 0, 0.15) inset;
  }
}

@media (min-width: 768) {

}