@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

.skills [xml="heading"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--secondary-heading);
  color: colors.$dark;
}
.skills [xml="body"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
