@use "/src/assets/styles/widths" as widths;

:scope {
  margin: 0;
  padding: 0;
}

[xml="body"] {
  display: flex;
  justify-content: center;
}

[xml="skills"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 5vw;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: widths.$sm) {
  [xml="skills"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: widths.$md) {
  [xml="skills"] {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: widths.$lg) {
  [xml="skills"] {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: widths.$xl) {
  [xml="skills"] {
    grid-template-columns: repeat(6, 1fr);
  }
}
