@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

.section > [xml="heading"] {
  text-align: center;
  font-size: var(--primary-heading);
  color: colors.$dark;
}

.section {
  padding: 5vw;
}

.section > [xml="body"] {
  display: flex;
  flex-direction: column;
}

@media (min-width: widths.$sm) {
  :scope {
    --primary-heading: 1.7rem;
    --secondary-heading: 1.3rem;
  }
}

@media (min-width: widths.$md) {
  :scope {
    --primary-heading: 2rem;
    --secondary-heading: 1.5rem;
  }
}
