.section > [xml="heading"] {
  text-align: center;
  font-size: var(--primary-heading);
  color: var(--dark-color);
}

.section {
  padding: 5vw;
}

.section > [xml="body"] {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  :root {
    --primary-heading: 1.7rem;
  }
}

@media (min-width: 768px) {
  :root {
    --primary-heading: 2rem;
  }
}
