@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;
@use "/src/assets/styles/mixins" as mixins;

> [xml="wrapper"] {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$light;
}

[xml="logo-wrapper"] {
  width: 24vw;
  transition: box-shadow 0.4s;
}

[xml="square"] {
  @include mixins.square;
}

[xml="link"] {
  display: inline-block;
  padding: 2vw;
  transition: padding 0.2s;
}

[xml="logo"] {
  object-fit: contain;
  width: 100%;
}

[xml="logo-wrapper"]:hover [xml="link"] {
  padding: 2vw;
}

[xml="name"],
[xml="description"] {
  text-align: center;
}

[xml="description"] {
  margin: 0;
  padding: 1.25vw;
  font-size: 5vw;
  font-weight: normal;
}

@media (min-width: widths.$sm) {
  [xml="logo-wrapper"] {
    width: 20vw;
  }
}

@media (min-width: widths.$lg) {
  [xml="wrapper"] {
    margin-top: 0;
  }

  [xml="link"] {
    padding: 0.8vw;
  }

  [xml="logo-wrapper"] {
    width: 8vw;
  }

  [xml="logo-wrapper"]:hover [xml="link"] {
    padding: 0.6vw;
  }

  [xml="description"] {
    padding: 0.1vw;
    font-size: 1.5vw;
  }
}
