> [xml="wrapper"] {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

[xml="logo-wrapper"] {
  padding: 3vw;
  transition: box-shadow 0.4s;
}

[xml="logo"] {
  object-fit: contain;
  width: 20vw;
  transition: width 0.4s;
}

[xml="logo-wrapper"]:hover [xml="logo"] {
  width: 22vw;
}

[xml="name"],
[xml="description"] {
  text-align: center;
  color: var(--dark);
}

[xml="description"] {
  margin: 0;
  padding: 1.25vw;
  font-size: 5vw;
  font-weight: normal;
}

@media (min-width: 576px) {
  [xml="logo-wrapper"] {
    padding: 1.5vw;
  }

  [xml="logo"] {
    width: 15vw;
  }

  [xml="logo-wrapper"]:hover [xml="logo"] {
    width: 16.5vw;
  }
}

@media (min-width: 992px) {
  [xml="wrapper"] {
    margin-top: 0;
  }

  [xml="logo-wrapper"] {
    padding: 0.8vw;
  }

  [xml="logo"] {
    width: 8vw;
  }

  [xml="logo-wrapper"]:hover [xml="logo"] {
    width: 8.8vw;
  }

  [xml="description"] {
    padding: 0.1vw;
    font-size: 1.5vw;
  }
}
