/* Flat */
.neumorph-xs {
  box-shadow: var(--neumorph-xs);
}
.neumorph-sm {
  box-shadow: var(--neumorph-sm);
}
.neumorph-md {
  box-shadow: var(--neumorph-md);
}
.neumorph-lg {
  box-shadow: var(--neumorph-lg);
}
.neumorph-xl {
  box-shadow: var(--neumorph-xl);
}

/* Inset */
.neumorph-inset-xs {
  box-shadow: var(--neumorph-inset-xs);
}
.neumorph-inset-sm {
  box-shadow: var(--neumorph-inset-sm);
}
.neumorph-inset-md {
  box-shadow: var(--neumorph-inset-md);
}
.neumorph-inset-lg {
  box-shadow: var(--neumorph-inset-lg);
}
.neumorph-inset-xl {
  box-shadow: var(--neumorph-inset-xl);
}

/* Convex */
.neumorph-convex-xs {
  background: var(--neumorph-convex);
  box-shadow: var(--neumorph-xs);
}
.neumorph-convex-sm {
  background: var(--neumorph-convex);
  box-shadow: var(--neumorph-sm);
}
.neumorph-convex-md {
  background: var(--neumorph-convex);
  box-shadow: var(--neumorph-md);
}
.neumorph-convex-lg {
  background: var(--neumorph-convex);
  box-shadow: var(--neumorph-lg);
}
.neumorph-convex-xl {
  background: var(--neumorph-convex);
  box-shadow: var(--neumorph-xl);
}

/* Concave */
.neumorph-concave-xs {
  background: var(--neumorph-concave);
  box-shadow: var(--neumorph-xs);
}
.neumorph-concave-sm {
  background: var(--neumorph-concave);
  box-shadow: var(--neumorph-sm);
}
.neumorph-concave-md {
  background: var(--neumorph-concave);
  box-shadow: var(--neumorph-md);
}
.neumorph-concave-lg {
  background: var(--neumorph-concave);
  box-shadow: var(--neumorph-lg);
}
.neumorph-concave-xl {
  background: var(--neumorph-concave);
  box-shadow: var(--neumorph-xl);
}