:root {
  --primary-color: #00ff00;
  --secondary-color: #e7efe7;
  --primary-heading: 1.3rem;
  --secondary-heading: 1.1rem;
  --dark-color: #004000;
  --light-color: #40b040;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
}