:root {
  --primary-color: #00ff00;
  --secondary-color: #e0e7e0;
  --primary-heading: 1.3rem;
  --secondary-heading: 1.1rem;
  --dark-color: #00400;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
}