@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

:scope {
  padding: 3vw;
  width: 100%;
  display: flex;
  align-items: center;
  color: colors.$dark;
  transition: color 0.4s;
}

[xml="icon"] {
  object-fit: contain;
  width: 24px;
  transition: filter 0.4s;
  filter: invert(12%) sepia(51%) saturate(4446%) hue-rotate(101deg) brightness(95%) contrast(104%);
}

:scope:hover {
  color: colors.$primary;
}

:scope:hover [xml="icon"] {
  filter: invert(52%) sepia(60%) saturate(523%) hue-rotate(70deg) brightness(98%) contrast(90%);
}

[xml="name"] {
  margin-left: 3vw;
}

@media (min-width: widths.$sm) {
  [xml="name"] {
    font-size: 1.2rem;
  }
}

@media (min-width: widths.$md) {
  [xml="name"] {
    margin-left: 2vw;
  }

  [xml="icon"] {
    width: 32px;
  }

  [xml="name"] {
    font-size: 1.4rem;
  }
}

@media (min-width: widths.$lg) {
  :scope {
    padding: 1.5vw;
    width: 35vw;
  }

  [xml="icon"] {
    width: 28px;
  }
}

@media (min-width: widths.$xl) {
  :scope {
    width: 30vw;
  }
}
