:scope {
  --offset-dark: 4px;
  --offset-light: -4px;
  --blur: 8px;
  --contact-displacement: 5vw;
  --circle-border-color: #e0f0e0;
  margin: 0;
  padding: 5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
}

> * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[xml="picture-area"] {
  display: flex;
  flex-direction: column;
}

[xml="contacts"] {
  display: flex;
  flex-direction: row;
}

[xml="contacts"].primary [xml="contact-link"]:first-child,
[xml="contacts"].primary [xml="contact-link"]:last-child,
[xml="contacts"].secondary [xml="contact-link"]:nth-child(2),
[xml="contacts"].secondary [xml="contact-link"]:nth-child(3) {
  margin-top: var(--contact-displacement);
}

[xml="contacts"].primary [xml="contact-link"]:nth-child(2),
[xml="contacts"].primary [xml="contact-link"]:nth-child(3),
[xml="contacts"].secondary [xml="contact-link"]:first-child,
[xml="contacts"].secondary [xml="contact-link"]:last-child {
  margin-bottom: var(--contact-displacement);
}

@media (min-width: 768px) {
  :scope {
    --contact-displacement: 6vw;
  }

  [xml="picture-area"] {
    flex-direction: row;
  }

  [xml="contacts"] {
    flex-direction: column;
  }

  [xml="contacts"].primary [xml="contact-link"]:first-child,
  [xml="contacts"].primary [xml="contact-link"]:last-child,
  [xml="contacts"].secondary [xml="contact-link"]:nth-child(2),
  [xml="contacts"].secondary [xml="contact-link"]:nth-child(3) {
    margin-top: 0;
    margin-left: var(--contact-displacement);
  }

  [xml="contacts"].primary [xml="contact-link"]:nth-child(2),
  [xml="contacts"].primary [xml="contact-link"]:nth-child(3),
  [xml="contacts"].secondary [xml="contact-link"]:first-child,
  [xml="contacts"].secondary [xml="contact-link"]:last-child {
    margin-bottom: 0;
    margin-right: var(--contact-displacement);
  }

  [xml="contacts"] [xml="link"] {
    padding: 1.2vw;
  }
}

@media (min-width: 992px) {
  :scope {
    --contact-displacement: 2.5vw;
    flex-direction: row !important;
  }

  > [xml="picture-area"] {
    width: 60%;
  }

  > [xml="brand"] {
    width: 40%;
  }
}
