@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

:scope {
  --primary-heading: 1.3rem;
  --secondary-heading: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: colors.$dark;
  background-color: colors.$light;
}

[xml="link"] {
  text-decoration: none;
  color: #000040;
}

[xml="link"]:hover {
  text-decoration: underline;
}

@media (min-width: widths.$sm) {
  :scope {
    --secondary-heading: 1.3rem;
  }
}

@media (min-width: widths.$md) {
  :scope {
    --secondary-heading: 1.6rem;
  }
}

@media (min-width: widths.$xl) {
  :scope {
    --secondary-heading: 2.2rem;
  }
}
