@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

:scope {
  margin: 0;
  padding: 0;
  width: 42.5vw;
  height: 42.5vw;
  color: colors.$dark;
  background-color: colors.$light;
}

[xml="square"] {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: colors.$primary;

    [xml="logo"] {
      width: 70%;
    }
  }
}

[xml="content"] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[xml="logo"] {
  object-fit: contain;
  width: 60%;
  transition: width 0.4s;
}

[xml="name"] {
  margin: 0;
  padding: 0.25rem 0;
  transition: color 0.4s;
}

@media (min-width: widths.$sm) {
  :scope {
    margin: 0;
    width: calc(80vw / 3);
    height: calc(80vw / 3);
    background-color: colors.$light;
  }

  [xml="name"] {
    font-size: 1.2rem;
  }
}

@media (min-width: widths.$md) {
  :scope {
    width: calc(75vw / 4);
    height: calc(75vw / 4);
  }
}

@media (min-width: widths.$lg) {
  :scope {
    width: 14vw;
    height: 14vw;
  }
}

@media (min-width: widths.$xl) {
  :scope {
    width: calc(65vw / 6);
    height: calc(65vw / 6);
  }
}
