@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;
@use "/src/assets/styles/mixins" as mixins;

:scope {
  border-radius: 50%;
  padding: 1vw 4vw;
  width: 20vw;
  background-color: colors.$light;
}

[xml="circle"] {
  @include mixins.square;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, box-shadow 0.4s;

  &:hover {
    background-color: colors.$primary;

    [xml="icon"] {
      filter: invert(100%);
    }
  }
}

[xml="link"] {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

[xml="icon"] {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: invert(52%) sepia(60%) saturate(523%) hue-rotate(70deg) brightness(98%) contrast(90%);
  transition: filter 0.4s;
}

@media (min-width: widths.$md) {
  :scope {
    padding: 4vw 1vw;
    width: 10vw;
  }

  [xml="link"] {
    padding: 1.2vw;
  }
}

@media (min-width: widths.$lg) {
  :scope {
    padding: 2vw 0.5vw;
    width: 5vw;
  }

  [xml="link"] {
    padding: 0.7vw;
  }
}
