@use "/src/assets/styles/color-theme" as colors;
@use "/src/assets/styles/widths" as widths;

:scope {
  margin: 0;
  padding: 0;
}

[xml="skills"] {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 5vw;
  list-style-type: none;
  background-color: colors.$light;
}

@media (min-width: widths.$lg) {
  [xml="skills"] {
    grid-template-columns: repeat(2, 1fr);
  }

  [xml="skills"] {
    padding: 5vw 0;
  }
}
