:scope {
  margin: 0;
  padding: 0;
}

[xml="list"] {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 5vw;
  list-style-type: none;
  background-color: var(--secondary-color);
}

@media (min-width: 992px) {
  [xml="list"] {
    grid-template-columns: repeat(2, 1fr);
  }

  [xml="list"] {
    padding: 5vw 0;
  }
}
