@import url('./about-me.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./send-message.css');


#main > .section > .heading {
  text-align: center;
  font-size: 1.3rem;
  color: var(--dark-color);
}

#main > .section > .body {
  display: flex;
  flex-direction: column;
}