@import url('./about-me.css');
@import url('./skills.css');
@import url('./projects.css');
@import url('./send-message.css');


#main > .section > .heading {
  text-align: center;
  font-size: var(--primary-heading);
  color: var(--dark-color);
}

#main > .section > .body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  :root {
    --primary-heading: 1.7rem;
  }
}

@media (min-width: 768px) {
  :root {
    --primary-heading: 2rem;
  }
  
  #main > .section > .heading > h2 {
    margin-bottom: 0;
  }
}

/* @media (min-width: 992px) {
  :root {
    --primary-heading: 2.5rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --primary-heading: 3rem;
  }
} */